<div class="header"> 
    <p><a routerLink='/practice'>Practice</a> ><span style="pointer-events: none;">Exam Portal</span></p>
    <h3 class="header_1">Practice Portal</h3>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-4-lg ml-5 mb-5">
            <div class="card l" style="width: 30rem;">
                <div class="card-body">
                    <p class="card-title">
                        Dr.N.G.P Institute Of Technology
                    </p>
                    <h5 class="card-text">
                        
                        College Test
                        
                    </h5>
                    <a  class="btn btn-outline-success float-right" (click)='cmin()'>Check Test</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-5 mb-5">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <p class="card-title">
                        Kavi Sir
                        
                    </p>
                    <h5 class="card-text" class="w">
                        Admin Test
                    </h5>
                   
                        <a  class="btn btn-outline-success float-right" (click)='amin()'>Check Test</a>
                </div>
            </div>
        </div>
        
    </div>
</div>