
<div class="header"> 
    <p>Test Result</p>
    <h3 class="header_1">Result & Analysis</h3>
    <hr>
</div>


<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">College Test Result</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Admin Test Result</a>
            </li>
          </ul>
    </div>

    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 80%;white-space: nowrap;">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#daily" role="tab" aria-controls="home"
                aria-selected="true">Daily Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#weekly" role="tab" aria-controls="profile"
                aria-selected="false">Weekly Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#monthly" role="tab" aria-controls="profile"
                  aria-selected="false">Monthly Report</a>
              </li>
          </ul>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="tab-content" id="myTabContent">
            <br>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div *ngFor='let res of ctest;let i=index'>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                           {{i+1}}
                           &nbsp;
                           &nbsp;
                           &nbsp;
                           &nbsp;
                           &nbsp;
                           28/06/2020
                          </mat-panel-title>
                          
                          <mat-panel-description>
                            {{res.testName}}
                           
                           
                            
                          </mat-panel-description>

                          
                          
                        </mat-expansion-panel-header>
                      
                        <div class="row">
                          <div class="col">
                            <div class="container">
                              <div class="card">
                                <div class="card-header">
                                  Overall Progress
                                </div>

                                <div class="card-body">
                                 
                                   
                                      <p>Topper Score:<b>{{Ctest[i].highestScore}}</b></p>
                                      <p>Average Score:<b>{{Ctest[i].averageScore}}</b></p>
                                      <p>Least Score:<b>{{Ctest[i].leastScore}}</b></p>

                                    

                                   

                                    </div>

                                 
                                  

                                </div>
                                
                              </div>

                            </div>

                         

                          <div class="col">
                            <div class="container">
                              <div class="card">
                                <div class="card-header">
                                  Your Progress
                                </div>
                                <div class="card-body">
                                  <p>Your Score:<b>{{res.score}}</b></p>
                                  <p>Average Score:<b>{{Ctest[i].averageScore}}</b></p>
                                  <p>Least Score:<b>{{Ctest[i].leastScore}}</b></p>
                                
                                </div>
                               
                              </div>

                            </div>
                          </div>
                        </div>

                        
                        
            

                      </mat-expansion-panel>

                </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div *ngFor='let res of atest;let i=index'>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{i+1}}
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            28/06/2020
                          </mat-panel-title>
                          <mat-panel-description>
                            {{res.testName}}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                      </mat-expansion-panel>

                </div>

            </div>
            
          </div>

    </div>
   

    <div class="col">
        <div class="tab-content" id="myTabContent">
            <br>
            <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="home-tab">
                <google-chart [data]="LineChart"></google-chart>

            </div>
            <div class="tab-pane fade" id="weekly" role="tabpanel" aria-labelledby="profile-tab">

            </div>
            <div class="tab-pane fade" id="monthly" role="tabpanel" aria-labelledby="contact-tab">

            </div>
          </div>

    </div>
    
</div>
 



   


   
   