.header{
    
    padding: 1% 5%;
}
.header_1{
    padding:0% -2%;
}
.container{
    display: inline;
}
.name{
    padding-left: 5%;
}
.nav{
    padding-left: 5%;
}
.tab-content{
    padding-left: 5%;
}

.chart .nav{
  margin-left: 53%;
  z-index: 2;
  margin-top: 1%;
}
.tab-pane{
    z-index: 1; 
    position: absolute;
    width: 50%;

}
