
<div class="header"> 
    <p>Test Result</p>
    <h3 class="header_1">Result & Analysis</h3>
    <hr>
</div>

<!-- <div class="name">
    <p><b>Student:</b>{{name}}</p>&nbsp;
    <p><b>Test:</b>{{atest.testName}}</p>
</div> -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">College Test Result</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Admin Test Result</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>
        <div *ngFor='let res of ctest;let i=index'>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{i+1}}&nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  26/06/2020
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;

                  {{res.testName}}
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  
    

                  
                </mat-expansion-panel-header>
              
                <ng-template matExpansionPanelContent>
                  <div class="container">
                      <div class="card" style="width: 30em;margin-left:10%;">
                          <div class="card-header">
                              <b>Overall</b>
                          </div>
                         

                         
                           <p style="margin-left: 35%;">Rank: <b></b> </p>
                           <ul style="margin-left: 35%;">
                               <li>Topper Score: <b></b> </li>
                               <li>Average Score: <b></b> </li>
                               <li>Least Score: <b></b> </li>
                           </ul>

                          
                          

                      </div>
                  </div>
                  <div class="container">
                    <div class="card" style="width: 30em;margin-left:10%;">
                        <div class="card-header">
                            <b>Quantitative Apptitude</b>
                        </div>
                        <p style="margin-left: 35%;">Rank: <b></b> </p>
                        <ul style="margin-left: 35%;">
                            <li>Your Score: <b></b> {{res.score}}</li>
                            <li>Average Score: <b></b> </li>
                            <li>Least Score: <b></b> </li>
                        </ul>
                    </div>
                </div>
                </ng-template>
              </mat-expansion-panel>

        </div>
        
        
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <br>
        <div *ngFor='let res of atest;let i=index'>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{i+1}}&nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  26/06/2020
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;

                  {{res.testName}}
                  &nbsp;
                  &nbsp;
                  &nbsp;
                 

                </mat-expansion-panel-header>
              
                <ng-template matExpansionPanelContent>
                  <div class="container">
                      <div class="card" style="width: 30em;margin-left:10%;">
                          <div class="card-header">
                              <b>Overall</b>
                          </div>
                         
                         
                           <p style="margin-left: 35%;">Rank: <b></b> </p>
                           <ul style="margin-left: 35%;">
                               <li>Topper Score: <b></b> </li>
                               <li>Average Score: <b></b> </li>
                               <li>Least Score: <b></b> </li>
                           </ul>

                          
                          

                      </div>
                  </div>
                  <div class="container">
                    <div class="card" style="width: 30em;margin-left:10%;">
                        <div class="card-header">
                            <b>Quantitative Apptitude</b>
                        </div>
                        <p style="margin-left: 35%;">Rank: <b></b> </p>
                        <ul style="margin-left: 35%;">
                            <li>Your Score: <b></b> {{res.score}}</li>
                            <li>Average Score: <b></b> </li>
                            <li>Least Score: <b></b> </li>
                        </ul>
                    </div>
                </div>
                </ng-template>
              </mat-expansion-panel>
    </div>
  </div>
</div>
 

<div class="chart">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Daily Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Weekly Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Monthly Report</a>
          </li>
      </ul>
    </div>

  
