
<div class="header"> 
    <p class="p"><a routerLink='/practice'>Practice</a> > <span style="pointer-events:none;">Learn Area</span></p>
    <h3 class="header_1">Dashboard</h3>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-4-lg  ml-4 mb-5">
            <div class="card q" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                    <h3>Warm-up Challenges</h3>
                    <p>New to Exam-portal? You can try these challenges these easy ones first</p>
                   
                    <a  class="btn btn-outline-success">Start Explore</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                   <h3>Ages and Partners</h3>
                   <p>In the miscellaneous section of quantitative apptitude,"Ages" is one of the important topic</p>
                   
                        <a  class="btn btn-outline-success" routerLink='agespartners'(click)='ages()'>Start Explore</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                   <h3>Directions</h3>
                   <p>Directions are part of logical reasoning. It is one of the most commonly found topics in almost all the entrance exams. </p>
                    <a class="btn btn-outline-success" routerLink='agespartners' (click)='dir()'>Start Explore</a>
                </div>
            </div>
        </div>
         <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                   <h3>Clocks and Calenders</h3>
                   <p>Get an overview of the basic concepts of Clocks and Calendars.</p>
                    <a class="btn btn-outline-success" routerLink='clockcal' (click)='clock()'>Start Explore</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                    <h3>Profit and Loss</h3>
                    <p>Profit and Loss is an important part of the Quantitative Aptitude section. Profit and loss is part and parcel of every business.</p>
                    <a class="btn btn-outline-success">Start Explore</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                    <h3>Coding and Decoding</h3>
                    <p>Coding is a method of transmitting a message between the sender and the receiver that no third person can understand it</p>
                   
                    <a class="btn btn-outline-success">Start Explore</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                    <h3>Proportions</h3>
                    <p>The concepts of Ratio and Proportion are fundamental to the study of various topics in the quantitative ability.</p>
                   
                    <a class="btn btn-outline-success">Start Explore</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                    <h3>Ratios</h3>
                    <p>The concepts of Ratio and Proportion are fundamental to the study of various topics in the quantitative ability.</p>
                   
                    <a class="btn btn-outline-success">Start Explore</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-4 mb-5">
            <div class="card" style="width: 20rem;height: 12rem;">
                <div class="card-body">
                    <h3>Time and Distance</h3>
                    <p>Time, Speed and distance is an important part of every competitive exam. Speed is defined as distance traveled divided by the time.</p>
                   
                    <a class="btn btn-outline-success">Start Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>