
.header{

    padding: 1% 5%;
}
.header_1{
    padding:0% -2%;
}
.card:hover{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    -maz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgb(0, 0, 0,0.75);

}
.q{
    text-align: center;
    padding-top: 2%;
}
.w{
    padding-top: -2%;
}
.card-title{
    font-size: 14px;
}

