<div *ngIf='UserIsAuthenticated'>
    <div class="header"> 
        <p>Practice</p>
        <h3 class="header_1">Dashboard</h3>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4-lg ml-5 mb-5">
                <div class="card l" style="width: 30rem;">
                    <div class="card-body">
                        <p class="card-title">
                            Interview Preparation kit
                        </p>
                        <h5 class="card-text">
                            Exam Portal
                            
                        </h5>
                        <a  class="btn btn-outline-success" routerLink='portal'>Start Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-4-lg ml-5 mb-5">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <p class="card-title">
                            Interview Preparation kit
                        </p>
                        <h5 class="card-text" class="w">
                            Interview Preparation Portal
                        </h5>
                       
                            <a  class="btn btn-outline-success">Start Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-4-lg ml-5 mb-5">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <p class="card-title">
                            Interview Preparation kit
                        </p>
                        <h5 class="card-text">
                            Learning Portal
                        </h5>
                        <a class="btn btn-outline-success" routerLink='learningportal'>Start Explore</a>
                    </div>
                </div>
            </div> <div class="col-4-lg ml-5 mb-5">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <p class="card-title">
                            Interview Preparation kit
                        </p>
                        <h5 class="card-text">
                            Practice Test
                        </h5>
                        <a class="btn btn-outline-success" routerLink='practicetest'>Start Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <h4>Skills Available For Practice</h4>
        <hr>
    </div>
    <div class="container">
        <div class="row ml-4">
            <div class="col-4-lg ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                    <img class="float-left" [src]=image1 style="width: 18%;"> 
                    <h6 class="card-text q">Ages and Partners</h6>
                    </div>
                </div>
            </div>
            <div class="col-4-lg ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                    <img class="float-left" [src]=image2 style="width: 18%;"> 
                    <h6 class="card-text q">Directions</h6>
                    </div>
                </div>
            </div>
            <div class="col-4-lg">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <img class="float-left" [src]=image3 style="width: 18%;"> 
                        <h6 class="card-text q">Clocks</h6>
                    </div>
                </div>
            </div> 
            <div class="col-4-lg ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <img class="float-left" [src]=image4 style="width: 18%;"> 
                        <h6 class="card-text q">Calender</h6>
                    </div>
                </div>
            </div>
            <div class="col-4-lg  ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <img class="float-left" [src]=image5 style="width: 18%;"> 
                        <h6 class="card-text q">Coding and Decoding</h6>
                    </div>
                </div>
            </div>
            <div class="col-4-lg ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <img class="float-left" [src]=image6 style="width: 18%;"> 
                        <h6 class="card-text q">Proportion</h6>
                    </div>
                </div>
            </div>
            <div class="col-4-lg ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <img class="float-left" [src]=image7 style="width: 18%;"> 
                        <h6 class="card-text q">Ratio</h6>
                    </div>
                </div>
            </div>
            <div class="col-4-lg ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <img class="float-left" [src]=image8 style="width: 18%;"> 
                        <h6 class="card-text q">Time and Distance</h6>
                    </div>
                </div>
            </div>
            <div class="col-4-lg">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <img class="float-left" [src]=image9 style="width: 18%;"> 
                        <h6 class="card-text q">Profit and Loss</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--<mat-card>
    <mat-card-subtitle>
        Practice
    </mat-card-subtitle>
   
    <mat-card-title>
        Practice Dashboard
    </mat-card-title>
</mat-card>

<div >

</div>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-subtitle>Interview Preparation Kit</mat-card-subtitle>
      <mat-card-title>Exam Portal</mat-card-title>
      
    </mat-card-header>
   
    
    <mat-card-actions>
        <button mat-flat-button color="primary">Primary</button>
      
    </mat-card-actions>
  </mat-card>-->