.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  #partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
  }
  
  
  
  
  
  
  
  
  
  .o-t-p {
    display: block;
    margin-top: 10px;
    font-size: 19px;
  }
  
  .content {
    display: inline-block;
    /* width: calc(100% - 250px); */
    vertical-align: top;
  }
 
  .btpass{
      float: right;
  }
  
  