
<div class="header"> 
    <p><a routerLink='/practice'>Practice</a> > <a routerLink='/practice/learningportal'>Learn Area</a> > <span style="pointer-events: none;"> Ages and partners</span></p>
    <h3 class="header_1">Ages and Partners</h3>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-4-lg">
            <div class="card" style="width: 50rem;height: 9rem;">
                <div class="card-body">
                    <h5>Find the your colleague's age</h5>
                    <p class="e"><span style="color: green;">Easy</span>,Max Score:15</p>
                    <a  class="btn btn-outline-success float-right" routerLink='solve'>Solve Challenge</a>
                </div>
            </div>
        </div>
       
        
        
        <div class="col-4-lg mt-5">
            <div class="card" style="width: 50rem;height: 9rem;">
                <div class="card-body">
                    <h5>What's your mothers age do calculate</h5>
                    <p class="e"><span style="color: green;">Easy</span>,Max Score:15</p>
                    
                   
                    <a  class="btn btn-outline-success float-right">Solve Challenge</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg">
            <div class="card" style="width: 50rem;height: 9rem;">
                <div class="card-body">
                    <h5>What will be the age of Esha's mother ? Find</h5>
                    <p class="e"><span style="color: orange;">Medium</span>,Max Score:20</p>
                    
                   
                    <a  class="btn btn-outline-success float-right">Solve Challenge</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg">
            <div class="card" style="width: 50rem;height: 9rem;">
                <div class="card-body">
                    <h5>Do find the friends age</h5>
                    <p class="e"><span style="color: orange;">Medium</span>,Max Score:20</p>
                    
                   
                    <a  class="btn btn-outline-success float-right ">Solve Challenge</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg">
            <div class="card" style="width: 50rem;height: 9rem;">
                <div class="card-body">
                    <h5>What will be the age five years ago</h5>
                    <p class="e"><span style="color: red;">Hard</span>,Max Score:30</p>
                    
                   
                    <a  class="btn btn-outline-success float-right">Solve Challenge</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m">
    <a  class="btn btn-outline-success">Get Started</a>
</div>

