.q1{
    margin-left:1%;
    padding-left:1%;

}
.card{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.1);
    -maz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.1);
    box-shadow: -1px 9px 40px -12px rgb(0, 0, 0,0.1);

}
.btn{
    margin-left: 55.5%;

}
.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);
  }