.header{

    padding: 1% 5%;
}
.header_1{
    padding:0% -2%;
}
a{
    color: inherit;
}
.card{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.15);
    -maz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.15);
    box-shadow: -1px 9px 40px -12px rgb(0, 0, 0,0.15);
    

}
.card:hover{
  background-color: #f3f7f7;
}
.e{
    font-size: 12px;
    color: var(color);
}

  .m .btn{
      margin: 1em 30em;
      
  }

.container{
    padding-left: 35%;
    position: absolute;
    z-index: 1;
    
} 
.filter{
    position: absolute;
    z-index: 2;
    padding-left:8%;
}
label{
    padding-left: 0.4em;
}
